.routecontainer4 {
  /* padding-top: 30px; */
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: rgb(255, 239, 226);
  /* margin-top: 60px; */
  /* border: 1px solid #000; */
}

.infoBox4 {
  margin-top: 60px;
  /* background-color: rgb(255, 255, 255); */
  /* width: 90%; */
  /* border-radius: 30px; */
  /* padding-top: 30px; */
}
