.category-form-container {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  min-width: 500px;
  max-width: 800px;
  padding: 80px;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-size: 2.77rem;
}

.category-form-input-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  /* outline: none !important; */
}

select option[value="1"] {
  background :#008FD6;
}

select option[value="2"] {
  background: #00DAE8;
}

select option[value="3"] {
  background:#4CE6B8;
}

select option[value="4"] {
  background: #FDD85D;
}

select option[value="5"] {
  background: #FD975D;
}

select option[value="6"] {
  background: #FF383B;
}
