.category-form-container {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  min-width: 500px;
  max-width: 800px;
  height: 77%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-form-input-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
