.category-form-container {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  min-width: 500px;
  max-width: 800px;
  padding: 80px;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-size: 2.77rem;
  font-family: 'Gowun Dodum', sans-serif;
  border-radius: 20px;
  border: 4px solid #9bbaff;
}

.category-form-input-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.header-text{
  text-align: center;
  margin-bottom: 5%;
  font-size: 2rem;
}

.body-text{
  font-size: 1.7rem;
}

.input-form{
  margin-bottom: 2%;
}

.ok-btn{
  margin-top: 5%;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  /* outline: none !important; */
}

select option[value="1"] {
  background :#008FD6;
}

select option[value="2"] {
  background: #00DAE8;
}

select option[value="3"] {
  background:#4CE6B8;
}

select option[value="4"] {
  background: #FDD85D;
}

select option[value="5"] {
  background: #FD975D;
}

select option[value="6"] {
  background: #FF383B;
}

.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;
  margin: 2px
}

.icon-button:hover {
  transform: scale(1.05);
}

.icon-button.active {
  background-color: gray;
  color: white;
}

.icon-button > svg {
  height: 30px  ;
  width: 30px;
}