.canvas-container {
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 0; */
  /* outline: none; */
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: -10;
  position: absolute;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #001930; */
  font-family: "Gowun Dodum", sans-serif;
}

.inner {
  width: 100%;
  max-width: 1600px;
  min-width: 1100px;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #fff; */
}

@keyframes hihi {
  100% {
  }
}

.left-box {
  /* border: 1px solid #000; */
  position: relative;
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-wrap {
  /* border: 1px solid #ffffff; */
  width: 12%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 3%;
  margin-top: 3%;
}

.icon-wrap img {
  display: inline-block;
  width: 100%;
  margin-bottom: 80%;
}

.turtle-img {
}

.stretcing-img {
}

.alert-wrap {
  /* border: 1px solid #ffffff; */
  width: 60%;
}

.alert-img {
  width: 50%;
  /* height: 80%; */
  /* transform: translate(0, 10px); */
  opacity: 0;
  animation-name: bellbell;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
}
@keyframes bellbell {
  20%,
  40%,
  60%,
  80% {
    transform: skewX(-11deg) skewY(11deg);
    opacity: 1;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: skewX(11deg) skewY(-11deg);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.alert-text {
  box-sizing: border-box;
  color: white;
  /* position: absolute; */
  bottom: 35% 0 0 0;
  font-size: 1.5rem;
  text-shadow: -2px 0px rgb(0, 0, 0), 0px 2px rgb(0, 0, 0), 2px 0px rgb(0, 0, 0),
    0px -2px rgb(0, 0, 0);

  transform: translate(0, 10px);
  opacity: 0;
  animation-name: floating;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
}

.alert-box {
  border: 4px solid #ffa800;
  text-align: center;
  padding: 3%;
  border-radius: 10px;
  background-color: #feffd9;
  margin-bottom: 10%;
  font-weight: 600;
  font-size: 1.2rem;
}

.turtle-img {
  width: 20%;
  animation: bellbell 0.7s forwards 1.4s;
}

.stretcing-img {
  width: 30%;
  animation: bellbell 0.7s forwards 2s;
}

.angry-img {
  width: 20%;
  animation: bellbell 0.7s forwards 2.6s;
}

.right-box {
  width: 60%;
  height: 100%;
  /* border: 1px solid #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5%; */
  transform: translate(0, 10px);
  opacity: 0;
  animation-name: floating;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
}

/* .img-wrap {
  text-align: center;
} */

/* .img-wrap img {
  width: 60%;
} */

/* .text-wrap {
  text-align: center;
  margin-top: 40px;
}

.text-wrap h1 {
  font-size: 2rem;
}

.text-wrap p {
  font-size: 1.5rem;
} */

.go-down {
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  top: 390%;
  /* background-color: #0084ff; */
  transform: translate(0, 0px);

  /* animation-name: tongtong;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

.go-down-icon {
  width: 50px;
  height: 50px;
  color: rgba(255, 255, 255, 0.5);
}

.go-down:hover {
  cursor: pointer;
}

@keyframes tongtong {
  to {
    transform: translate(0, -10px) scale(100%);
  }
}

@keyframes floating {
  to {
    transform: translate(0, -10px);
    opacity: 1;
  }
}
