.container {
  display: flex;
  flex-direction: row;
}

.video {
  width: auto;
  border: 1px solid;
  border-color: black;
  height: 15em;
  margin: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}