.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  transition: 0.4s;
  overflow: hidden;
  /* background-color: #fefff9; */
}

.form-container {
  align-items: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;
}
.form-label {
  color: rgb(197, 197, 197);
  font-weight: 700;
  font-size: 1.2rem;
  transition: 0.4s;
  margin: 10px 0 0 0;
}
.form-input {
  box-sizing: border-box;
  width: 28vw;
  margin: 5px 5px 5px 5px;
  padding: 9px 11px 9px 11px;
  transition: 0.4s;
  border-color: #817c7c;
  border-radius: 8px;
  border-style: solid;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
}
.form-input.invalid {
  border-color: #ff6567;
  background-color: rgba(255, 190, 191, 0.78);
  transition: 0.4s;
}
.form-input.valid {
  border-color: #8bd5ff;
  background-color: rgba(185, 229, 255, 0.7);
  transition: 0.4s;
}
.form-input:focus {
  outline: none;
  transform: scale(102%);
  border-color: #5ec5ff;
  background-color: rgba(185, 229, 255, 0.7);
}
.form-input:focus.invalid {
  outline: none;
  transform: scale(102%);
  border-color: #ff6567;
  background-color: rgba(255, 190, 191, 0.78);
}

.form-button {
  text-decoration: none;
  font-size: 1.096rem;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(253, 201, 33, 0.95);
  transition: 0.5s;
  width: 15vw;
  margin: 8px auto 8px auto;
  padding: 10px 35px 10px 35px;
  height: 5.3vh;
}
.button-invalid {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 6px;
  border: none;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(222, 222, 222, 0.95);
  transition: 0.5s;
  width: 15vw;
  margin: 8px 0 8px 0;
  padding: 10px 35px 10px 35px;
  pointer-events: none;
  height: 5.3vh;
}

.form-button:hover {
  transform: scale(105%);
}
.input-container {
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.under {
  z-index: -10;
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

.label-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  outline: none;
  align-items: center;
}

.change-button {
  color: rgb(226, 226, 226);
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: auto;
  transition: 0.2s;
  transform: translate(0, 6px);
}
.change-button:hover {
  cursor: pointer;
  color: rgb(173, 208, 255);
  transform: scale(105%) translate(-1px, 5px);
}

.social-container {
  margin: 10px;
  padding: 10px;
  outline: none;
  display: flex;
  flex-direction: row;
  width: 15vw;
  transition: 0.3s;
  box-sizing: border-box;
  background-color: rgba(253, 201, 33, 0.88);
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  height: 5.3vh;
  padding: 10px 35px 10px 35px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.social-image {
  margin-left: auto;
  margin-right: auto;
  /* width: 40%; */
  height: 100%;
  cursor: pointer;
  transform: scale(105%);
  overflow: visible;
  transition: 0.3s;
}
.social-login-txt {
  width: 62%;
}
.social-container:hover {
  cursor: pointer;
  transform: scale(110%);
}

.button-container {
  width: 15vw;
  height: 50px;
  margin: 0 0 12px 0;
  box-sizing: border-box;
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.valid-message {
  color: rgba(222, 222, 222, 0.95);
  box-sizing: border-box;
  margin: 10px 10px 10px 10px;
  padding: 5px 0;
  font-weight: 600;
}
.valid-message.valid {
  color: #8bd5ff;
}
.valid-message.invalid {
  color: #ff6567;
}
