.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  width: 100%;
  overflow: hidden;
}

.input-container {
  width: 100%;
  margin: 6px 0px 6px 0px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
}

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.form-label {
  font-weight: 700;
  font-size: 1.2rem;
  transition: 0.4s;
  margin: 10px 0 0 0;
}
.form-input {
  box-sizing: border-box;
  width: 28vw;
  margin: 3px 3px 3px 3px;
  padding: 9px 11px 9px 11px;
  transition: 0.4s;
  border-color: #817c7c;
  border-radius: 8px;
  border-style: solid;
  font-size: 0.9rem;
  background-color: rgba(255, 255, 255, 0.8);
}
.form-input.invalid {
  border-color: #ff6567;
  background-color: rgba(255, 190, 191, 0.78);
  transition: 0.4s;
}
.form-input.valid {
  border-color: #8bd5ff;
  background-color: rgba(185, 229, 255, 0.7);
  transition: 0.4s;
}
.form-input:focus {
  outline: none;
  transform: scale(102%);
  border-color: #5ec5ff;
  background-color: rgba(185, 229, 255, 0.7);
}
.form-input:focus.invalid {
  outline: none;
  transform: scale(102%);
  border-color: #ff6567;
  background-color: rgba(255, 190, 191, 0.78);
}

.form-button {
  text-decoration: none;
  font-size: 1.096rem;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(253, 201, 33, 0.95);
  transition: 0.4s;
  width: 15vw;
  margin: 8px auto 8px auto;
  padding: 10px 35px 10px 35px;
  justify-self: center;
}

.form-button:hover {
  transform: scale(105%);
}

.label-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  outline: none;
  align-items: center;
}

.change-button {
  font-size: 1.05rem;
  font-weight: 600;
  margin-left: auto;
  transition: 0.2s;
  transform: translate(0, 6px);
  color: rgb(2, 45, 82);
}
.change-button:hover {
  cursor: pointer;
  color: rgba(52, 105, 174);
  transform: scale(105%) translate(-1px, 5px);
}

.button-container {
  width: 15vw;
  height: 50px;
  margin: 0 0 55px 0;
  box-sizing: border-box;
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-invalid {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 6px;
  border: none;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(222, 222, 222, 0.95);
  transition: 0.5s;
  width: 15vw;
  margin: 8px 0 8px 0;
  padding: 10px 35px 10px 35px;
  pointer-events: none;
}
