.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid #000; */
}

.img-wrap {
  display: flex;
  justify-content: space-evenly;
}

.img-wrap img {
  width: 20%;
}

.smile-text {
  margin-top: 50px;
  font-size: 1.5rem;
}

.go-down {
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  top: 685%;
  background-color: #0084ff;
  transform: translate(0, 0px);

  animation-name: tongtong;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.go-down:hover {
  cursor: pointer;
}

@keyframes tongtong {
  to {
    transform: translate(0, -10px) scale(100%);
  }
}
