.category-card-container {
  box-sizing: border-box;
  background-color: rgba(111, 111, 111, 0.8);
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 8px;
  cursor: grab;
  width: 100%;
  margin: 4px 6px 12px 6px;
  padding: 5px;
  color: white;

  transition: 0.4s;
  -webkit-user-drag: element;
}

.category-card-container.is-hovered {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(104%);
}

.category-card-container.is-selected {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  transform: scale(101%);
  /* color: white; */
}
.category-card-container.is-selected.is-hovered {
  background-color: rgba(255, 255, 255, 0.5);
  /* background-color: rgba(111, 111, 111, 0.8); */
  color: black;
  transform: scale(104%);
}
