.todobox {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  overflow-y: scroll;
  margin: 5px
}

.todobox::-webkit-scrollbar {
  display: none;
}

.title-container {
  font-size: 2rem;
  color: rgba(200, 254, 238, 1);
}

.box-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.progressbox {
  display: flex;
  justify-content: center;
  align-items: center;
}