.todocard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
  height: 10em;
  margin: 5px;
}

.todo {
  height: 5em;
} 

.progress {
  height: 90%;
  width: 100%;
}

.done {
  height: 10em;
}

.deleteButton {
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;
}
