.todocard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 1% 1% 1% 1%;
  position: relative;
  width: 90%;
  height: 10em;
}

.todo {
  height: 5em;
}

.progress {
  height: 40vw;
}

.done {
  height: 10em;
}

.deleteButton {
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;
}
