.dragable {
  height: 10em;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 3% 3% 3% 3%;
  position: relative;

}

.ongoing {
  height: 40vw;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 4% 4% 4% 4%;
  position: relative;

}

.deleteButton {
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;
}


