.selected-task-card-container {
  box-sizing: border-box;
  border-radius: 8px;
  padding: 5px;
  margin: 4px 8px 4px 8px;
  background-color: rgba(111, 111, 111, 0.8);
  color: white;
  -webkit-user-drag: element;
}
